/*
 *
 * Login Page
 *
 */

.login-page {

    .registration-text {
	text-align: center;
    }

    .login-area button {
	width: 100%;
	margin-top: 10px;
    }

    .username-input {
	border-radius: 5px 5px 0px 0px;
	/* Avoid border overlapping */
	border-bottom: 0;
    }

    .username-input:focus + .password-input {
	border-top-color: $form-focus-border;
    }

    .password-input {
	border-radius: 0px 0px 5px 5px;
    }

}

